* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Arial', sans-serif;
    background: linear-gradient(135deg, #2d3a46, #1c252f); /* Degradê escuro */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: #fff;
  }
  
  .container {
    background-color: rgb(255 255 255 / 30%);
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 10px 30px rgb(0 0 0 / 79%);
    width: 100%;
    max-width: 500px;
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }
  
  h1 {
    font-size: 40px;
    margin-bottom: 20px;
    color: #000000;
    font-weight: 600;
  }
  
  .form-group {
    margin-bottom: 20px;
    text-align: left;
  }
  
  label {
    display: block;
    font-size: 1.1rem;
    margin-bottom: 8px;
  }
  
  input {
    width: 100%;
    padding: 12px;
    font-size: 1rem;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-sizing: border-box;
    margin-top: 5px;
    background-color: #fff;
    color: #333;
    transition: border-color 0.3s ease;
  }
  
  input:focus {
    border-color: #4CAF50;
    outline: none;
  }
  
  button {
    width: 100%;
    padding: 12px;
    background-color: #4CAF50;
    color: #fff;
    font-size: 1.1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
  }
  
  button:hover {
    background-color: #45a049;
    transform: scale(1.05); /* Efeito de aumento no hover */
  }
  
  #resultado {
    margin-top: 20px;
    font-size: 25px;
    font-weight: bold;
    color: #000000;
    display: none;
    transition: opacity 0.5s ease;
  }
  
  footer {
    position: absolute;
    bottom: 20px;
    text-align: center;
    width: 100%;
    font-size: 0.9rem;
    color: #aaa;
  }
  
  footer p {
    margin-top: 20px;
  }
  
  .container:hover {
    transform: translateY(-5px); /* Efeito de elevação ao passar o mouse */
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.3); /* Efeito de sombra mais forte */
  }
  
  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  
  .container {
    animation: fadeIn 1s ease-out;
  }
  